:root {
  --primary: #fcbedd;
  --bg: #7d1b54;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 1px solid #7a5b3d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* wanita section */

.wanita {
  padding: 8rem 7% 1.4rem;
}

.wanita h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.wanita h2 span {
  color: var(--primary);
}

.wanita h2 {
  margin-bottom: 1rem;
}

.wanita .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  margin-top: 3rem;
}

.wanita .product-card {
  text-align: center;
  border: 1px solid #666;
  padding: 1rem;
}

.wanita .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.wanita .product-icons a {
  width: 3rem;
  height: 3rem;
  color: #fff;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wanita .product-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.wanita .product-image {
  padding: 1rem 0;
}

.wanita .product-image img {
  height: 15rem;
}

.wanita .product-content h3 {
  font-size: 1.5rem;
}

.wanita .product-stars {
  font-size: 1.2rem;
  padding: 0.8rem;
  color: var(--primary);
}

.wanita .product-stars .star-full {
  fill: var(--primary);
}

.wanita .product-price {
  font-size: 1rem;
  font-weight: bold;
}

.wanita .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 0.8rem;
}

/* footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .social a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}
